<!doctype html>
<html lang='de'>
	<head>
		<meta charset='UTF-8' />
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<meta property='og:image' content='/open-graph.jpg' />
		<title>
			Lena Binkowski – Sanftes Empowerment für Frauen mit AD(H)S
		</title>
		<script>
			window.location.href = "https://form.typeform.com/to/pPImuVSh";
		</script>
	</head>
	<body>
		<p>
			<a href='https://form.typeform.com/to/pPImuVSh'>Hier klicken</a>,
			falls die Weiterleitung nicht funktioniert.
		</p>
	</body>
</html>
